USE [master]
GO
/****** Object:  Database [CRMTenantDBNewCurrent12345]    Script Date: 08-09-2016 18:14:46 ******/
CREATE DATABASE [CRMTenantDBNewCurrent12345]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRMTenantDBNewCurrent12345', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CRMTenantDBNewCurrent12345.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CRMTenantDBNewCurrent12345_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CRMTenantDBNewCurrent12345_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRMTenantDBNewCurrent12345].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRMTenantDBNewCurrent12345]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AppointmentEntities]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentEntities](
	[AppointmentId] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[StartDate] [datetime] NULL,
	[StartTime] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[IsCompleted] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreateByRef] [int] NULL,
	[ModifiedByRef] [int] NULL,
	[AssignedtoRefId] [int] NULL,
	[StateRefId] [int] NULL,
	[ContactRefId] [bigint] NULL,
	[TenantRefId] [int] NOT NULL,
	[Remark] [nvarchar](500) NULL,
	[IsView] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.AppointmentEntities] PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategoryEntities]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryEntities](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[TenantRefId] [int] NULL,
 CONSTRAINT [PK_dbo.CategoryEntities] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactCategories]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactCategories](
	[ContactCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ContactId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.ContactCategories] PRIMARY KEY CLUSTERED 
(
	[ContactCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactEntities]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactEntities](
	[ContactId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[EmailId] [nvarchar](300) NOT NULL,
	[Website] [nvarchar](200) NULL,
	[Business] [nvarchar](200) NULL,
	[Phoneno] [nvarchar](15) NULL,
	[JobTitle] [nvarchar](200) NULL,
	[Mobileno] [nvarchar](15) NULL,
	[Fax] [nvarchar](15) NULL,
	[Spouse] [nvarchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[Dob] [datetime] NULL,
	[AnniversaryDate] [datetime] NULL,
	[Address1] [nvarchar](500) NULL,
	[Address2] [nvarchar](500) NULL,
	[City] [nvarchar](200) NULL,
	[PhoneWork] [nvarchar](50) NULL,
	[FaxWork] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[IsDeleted] [bit] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedByRef] [int] NULL,
	[CreatedByRef] [int] NULL,
	[StateRefId] [int] NULL,
	[TenantRefId] [int] NULL,
	[UserEntity_UserId] [int] NULL,
	[CategoryId] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.ContactEntities] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ModuleEntities]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleEntities](
	[ModuleId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleName] [nvarchar](100) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedByRef] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[TenantRefId] [int] NULL,
 CONSTRAINT [PK_dbo.ModuleEntities] PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NoteEntities]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteEntities](
	[NoteId] [bigint] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](100) NULL,
	[addnote] [nvarchar](500) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreateByRef] [int] NULL,
	[ModifiedByRef] [int] NULL,
	[ContactRefId] [bigint] NOT NULL,
	[Remark] [nvarchar](500) NULL,
	[TenantRefId] [int] NULL,
 CONSTRAINT [PK_dbo.NoteEntities] PRIMARY KEY CLUSTERED 
(
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PriorityEntities]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriorityEntities](
	[PriorityId] [int] IDENTITY(1,1) NOT NULL,
	[Priority] [nvarchar](100) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreateByRef] [int] NULL,
	[ModifiedByRef] [int] NULL,
	[TenantRefId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PriorityEntities] PRIMARY KEY CLUSTERED 
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoleEntities]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleEntities](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[TenantRefId] [int] NULL,
 CONSTRAINT [PK_dbo.RoleEntities] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StateEntities]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateEntities](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.StateEntities] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaskEntities]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskEntities](
	[TaskId] [bigint] IDENTITY(1,1) NOT NULL,
	[TaskName] [nvarchar](300) NOT NULL,
	[DueDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[IsCompleted] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreateByRef] [int] NULL,
	[ModifiedByRef] [int] NULL,
	[AssignedtoRefId] [int] NULL,
	[TaskTypeRefId] [int] NULL,
	[PriorityRefId] [int] NULL,
	[ContactRefId] [bigint] NULL,
	[TenantRefId] [int] NOT NULL,
	[Time] [datetime] NULL,
	[Remark] [nvarchar](500) NULL,
	[IsView] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.TaskEntities] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaskTypeEntities]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypeEntities](
	[TaskTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TaskType] [nvarchar](100) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreateByRef] [int] NULL,
	[ModifiedByRef] [int] NULL,
	[TenantRefId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TaskTypeEntities] PRIMARY KEY CLUSTERED 
(
	[TaskTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TenantEntities]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantEntities](
	[TenantId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](300) NULL,
	[Host] [nvarchar](300) NULL,
	[Title] [nvarchar](100) NULL,
	[Theme] [nvarchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TenantEntities] PRIMARY KEY CLUSTERED 
(
	[TenantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserEntities]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserEntities](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](300) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[TenantRefId] [int] NOT NULL,
	[FName] [nvarchar](100) NULL,
	[LName] [nvarchar](100) NULL,
	[EmailId] [nvarchar](300) NOT NULL,
	[Mobileno] [nvarchar](15) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[CreatedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[RoleRefId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserEntities] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserPermissionEntities]    Script Date: 08-09-2016 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissionEntities](
	[UserPermissionId] [int] IDENTITY(1,1) NOT NULL,
	[All] [bit] NOT NULL,
	[Add] [bit] NOT NULL,
	[Edit] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[View] [bit] NOT NULL,
	[Print] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedByRef] [int] NULL,
	[ModifiedByRef] [int] NULL,
	[UserRefId] [int] NULL,
	[RoleRefId] [int] NOT NULL,
	[ModuleRefId] [int] NOT NULL,
	[TenantRefId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserPermissionEntities] PRIMARY KEY CLUSTERED 
(
	[UserPermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AppointmentEntities] ON 

SET IDENTITY_INSERT [dbo].[AppointmentEntities] OFF
SET IDENTITY_INSERT [dbo].[CategoryEntities] ON 

INSERT [dbo].[CategoryEntities] ([CategoryId], [CategoryName], [CreatedOn], [ModifiedOn], [IsDeleted], [CreatedBy], [ModifiedBy], [TenantRefId]) VALUES (1, N'Normal', CAST(N'2016-07-06 15:37:29.387' AS DateTime), CAST(N'2016-07-06 15:37:29.387' AS DateTime), 0, 3, 3, 4)
INSERT [dbo].[CategoryEntities] ([CategoryId], [CategoryName], [CreatedOn], [ModifiedOn], [IsDeleted], [CreatedBy], [ModifiedBy], [TenantRefId]) VALUES (2, N'Hfghfgh', CAST(N'2016-07-06 15:46:15.027' AS DateTime), CAST(N'2016-07-06 15:46:15.027' AS DateTime), 1, 3, 3, 4)
INSERT [dbo].[CategoryEntities] ([CategoryId], [CategoryName], [CreatedOn], [ModifiedOn], [IsDeleted], [CreatedBy], [ModifiedBy], [TenantRefId]) VALUES (3, N'High', CAST(N'2016-07-06 15:52:15.590' AS DateTime), CAST(N'2016-07-06 15:52:15.590' AS DateTime), 0, 3, 3, 4)
SET IDENTITY_INSERT [dbo].[CategoryEntities] OFF
SET IDENTITY_INSERT [dbo].[ContactCategories] ON 

INSERT [dbo].[ContactCategories] ([ContactCategoryId], [CategoryId], [ContactId]) VALUES (8, 1, 70)
INSERT [dbo].[ContactCategories] ([ContactCategoryId], [CategoryId], [ContactId]) VALUES (16, 1, 71)
INSERT [dbo].[ContactCategories] ([ContactCategoryId], [CategoryId], [ContactId]) VALUES (17, 3, 71)
SET IDENTITY_INSERT [dbo].[ContactCategories] OFF
SET IDENTITY_INSERT [dbo].[ContactEntities] ON 

SET IDENTITY_INSERT [dbo].[ContactEntities] OFF
SET IDENTITY_INSERT [dbo].[ModuleEntities] ON 

INSERT [dbo].[ModuleEntities] ([ModuleId], [ModuleName], [CreatedOn], [CreatedByRef], [IsDeleted], [TenantRefId]) VALUES (3, N'Contacts', CAST(N'2016-06-16 17:59:34.137' AS DateTime), 3, 0, 4)
INSERT [dbo].[ModuleEntities] ([ModuleId], [ModuleName], [CreatedOn], [CreatedByRef], [IsDeleted], [TenantRefId]) VALUES (4, N'Task', CAST(N'2016-06-16 18:00:42.447' AS DateTime), 3, 0, 4)
INSERT [dbo].[ModuleEntities] ([ModuleId], [ModuleName], [CreatedOn], [CreatedByRef], [IsDeleted], [TenantRefId]) VALUES (8, N'Calendar', CAST(N'2016-06-16 18:00:42.447' AS DateTime), 3, 0, 4)
SET IDENTITY_INSERT [dbo].[ModuleEntities] OFF
SET IDENTITY_INSERT [dbo].[NoteEntities] ON 

INSERT [dbo].[NoteEntities] ([NoteId], [Subject], [addnote], [CreatedOn], [ModifiedOn], [IsDeleted], [CreateByRef], [ModifiedByRef], [ContactRefId], [Remark], [TenantRefId]) VALUES (7, N'rtfddsf', N'gfdgfdgfdgfd', CAST(N'2016-06-23 00:00:00.000' AS DateTime), CAST(N'2016-06-23 13:10:36.770' AS DateTime), 1, 3, 3, 2, NULL, 4)
INSERT [dbo].[NoteEntities] ([NoteId], [Subject], [addnote], [CreatedOn], [ModifiedOn], [IsDeleted], [CreateByRef], [ModifiedByRef], [ContactRefId], [Remark], [TenantRefId]) VALUES (8, N'hello', N'hghghghghghghgh', CAST(N'2016-07-12 00:00:00.000' AS DateTime), CAST(N'2016-07-12 13:58:14.430' AS DateTime), 0, 3, 3, 2, N'fgdgg', 4)
INSERT [dbo].[NoteEntities] ([NoteId], [Subject], [addnote], [CreatedOn], [ModifiedOn], [IsDeleted], [CreateByRef], [ModifiedByRef], [ContactRefId], [Remark], [TenantRefId]) VALUES (9, N'fgdg', N'fgfdg', CAST(N'2016-06-23 00:00:00.000' AS DateTime), CAST(N'2016-06-23 14:18:03.583' AS DateTime), 1, 3, 3, 2, NULL, 4)
SET IDENTITY_INSERT [dbo].[NoteEntities] OFF
SET IDENTITY_INSERT [dbo].[PriorityEntities] ON 

INSERT [dbo].[PriorityEntities] ([PriorityId], [Priority], [IsDeleted], [CreatedOn], [ModifiedOn], [CreateByRef], [ModifiedByRef], [TenantRefId]) VALUES (1, N'High', 0, CAST(N'2016-06-17 20:35:37.510' AS DateTime), CAST(N'2016-06-17 20:35:37.510' AS DateTime), 3, 3, 4)
INSERT [dbo].[PriorityEntities] ([PriorityId], [Priority], [IsDeleted], [CreatedOn], [ModifiedOn], [CreateByRef], [ModifiedByRef], [TenantRefId]) VALUES (2, N'Medium', 0, CAST(N'2016-06-17 20:35:57.463' AS DateTime), CAST(N'2016-06-17 20:35:57.463' AS DateTime), 3, 3, 4)
INSERT [dbo].[PriorityEntities] ([PriorityId], [Priority], [IsDeleted], [CreatedOn], [ModifiedOn], [CreateByRef], [ModifiedByRef], [TenantRefId]) VALUES (3, N'Low', 0, CAST(N'2016-06-17 20:36:05.910' AS DateTime), CAST(N'2016-06-17 20:36:05.910' AS DateTime), 3, 3, 4)
SET IDENTITY_INSERT [dbo].[PriorityEntities] OFF
SET IDENTITY_INSERT [dbo].[RoleEntities] ON 

INSERT [dbo].[RoleEntities] ([RoleId], [RoleName], [CreatedOn], [ModifiedOn], [IsDeleted], [CreatedBy], [ModifiedBy], [TenantRefId]) VALUES (1, N'Admin', CAST(N'2016-06-15 20:35:05.467' AS DateTime), CAST(N'2016-06-15 20:35:05.467' AS DateTime), 0, 3, 3, 4)
INSERT [dbo].[RoleEntities] ([RoleId], [RoleName], [CreatedOn], [ModifiedOn], [IsDeleted], [CreatedBy], [ModifiedBy], [TenantRefId]) VALUES (10, N'Manager', CAST(N'2016-07-06 13:59:20.070' AS DateTime), CAST(N'2016-07-06 13:59:20.070' AS DateTime), 0, 3, 3, 4)
INSERT [dbo].[RoleEntities] ([RoleId], [RoleName], [CreatedOn], [ModifiedOn], [IsDeleted], [CreatedBy], [ModifiedBy], [TenantRefId]) VALUES (11, N'super admin', CAST(N'2016-07-06 13:59:59.857' AS DateTime), CAST(N'2016-07-06 13:59:59.857' AS DateTime), 1, 3, 3, 4)
SET IDENTITY_INSERT [dbo].[RoleEntities] OFF
SET IDENTITY_INSERT [dbo].[StateEntities] ON 

INSERT [dbo].[StateEntities] ([StateId], [Name], [IsDeleted]) VALUES (1, N'UP', 0)
INSERT [dbo].[StateEntities] ([StateId], [Name], [IsDeleted]) VALUES (2, N'MP', 0)
INSERT [dbo].[StateEntities] ([StateId], [Name], [IsDeleted]) VALUES (3, N'Maharastra', 0)
SET IDENTITY_INSERT [dbo].[StateEntities] OFF
SET IDENTITY_INSERT [dbo].[TaskEntities] ON 

INSERT [dbo].[TaskEntities] ([TaskId], [TaskName], [DueDate], [Description], [IsCompleted], [IsDeleted], [CreatedOn], [ModifiedOn], [CreateByRef], [ModifiedByRef], [AssignedtoRefId], [TaskTypeRefId], [PriorityRefId], [ContactRefId], [TenantRefId], [Time], [Remark], [IsView]) VALUES (6, N'hgjgjhgjhgjhgjh', CAST(N'2016-06-22 00:00:00.000' AS DateTime), N'dgdfgdagdgdfgytrytry14', 1, 0, CAST(N'2016-06-18 15:14:58.137' AS DateTime), CAST(N'2016-07-06 17:49:49.547' AS DateTime), 3, 3, 3, 1, 2, 1, 4, CAST(N'1970-01-01 02:13:00.000' AS DateTime), N'gfhfghfghfgfdfdsf', 1)
INSERT [dbo].[TaskEntities] ([TaskId], [TaskName], [DueDate], [Description], [IsCompleted], [IsDeleted], [CreatedOn], [ModifiedOn], [CreateByRef], [ModifiedByRef], [AssignedtoRefId], [TaskTypeRefId], [PriorityRefId], [ContactRefId], [TenantRefId], [Time], [Remark], [IsView]) VALUES (7, N'Task meeting', CAST(N'2016-07-25 00:00:00.000' AS DateTime), N'meeting for personal work', 0, 0, CAST(N'2016-06-18 15:14:58.160' AS DateTime), CAST(N'2016-07-25 18:46:21.713' AS DateTime), 3, 3, 3, 2, 2, NULL, 4, CAST(N'1969-12-31 23:24:00.000' AS DateTime), N'important', 1)
INSERT [dbo].[TaskEntities] ([TaskId], [TaskName], [DueDate], [Description], [IsCompleted], [IsDeleted], [CreatedOn], [ModifiedOn], [CreateByRef], [ModifiedByRef], [AssignedtoRefId], [TaskTypeRefId], [PriorityRefId], [ContactRefId], [TenantRefId], [Time], [Remark], [IsView]) VALUES (8, N'First task', CAST(N'2016-06-15 00:00:00.000' AS DateTime), N'chal rha hai', 0, 1, CAST(N'2016-06-18 15:24:47.460' AS DateTime), CAST(N'2016-06-18 16:55:32.673' AS DateTime), 3, 3, 4, 2, 3, 1, 4, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[TaskEntities] OFF
SET IDENTITY_INSERT [dbo].[TaskTypeEntities] ON 

INSERT [dbo].[TaskTypeEntities] ([TaskTypeId], [TaskType], [IsDeleted], [CreatedOn], [ModifiedOn], [CreateByRef], [ModifiedByRef], [TenantRefId]) VALUES (1, N'Phone Call', 0, CAST(N'2016-06-17 20:37:24.370' AS DateTime), CAST(N'2016-06-17 20:37:24.370' AS DateTime), 3, 3, 4)
INSERT [dbo].[TaskTypeEntities] ([TaskTypeId], [TaskType], [IsDeleted], [CreatedOn], [ModifiedOn], [CreateByRef], [ModifiedByRef], [TenantRefId]) VALUES (2, N'SMS', 0, CAST(N'2016-06-17 20:37:36.427' AS DateTime), CAST(N'2016-06-17 20:37:36.427' AS DateTime), 3, 3, 4)
INSERT [dbo].[TaskTypeEntities] ([TaskTypeId], [TaskType], [IsDeleted], [CreatedOn], [ModifiedOn], [CreateByRef], [ModifiedByRef], [TenantRefId]) VALUES (3, N'Email', 0, CAST(N'2016-06-17 20:37:46.053' AS DateTime), CAST(N'2016-06-17 20:37:46.053' AS DateTime), 3, 3, 4)
SET IDENTITY_INSERT [dbo].[TaskTypeEntities] OFF
SET IDENTITY_INSERT [dbo].[TenantEntities] ON 

INSERT [dbo].[TenantEntities] ([TenantId], [UserName], [Host], [Title], [Theme], [CreatedOn], [ModifiedOn], [IsDeleted]) VALUES (1, N'hjh', N'', N'', N'', CAST(N'2016-06-15 20:58:06.533' AS DateTime), CAST(N'2016-06-15 20:58:06.533' AS DateTime), 0)
INSERT [dbo].[TenantEntities] ([TenantId], [UserName], [Host], [Title], [Theme], [CreatedOn], [ModifiedOn], [IsDeleted]) VALUES (2, N'admin', N'', N'', N'', CAST(N'2016-06-15 21:05:17.127' AS DateTime), CAST(N'2016-06-15 21:05:17.127' AS DateTime), 0)
INSERT [dbo].[TenantEntities] ([TenantId], [UserName], [Host], [Title], [Theme], [CreatedOn], [ModifiedOn], [IsDeleted]) VALUES (3, N'aditya@gmail.com', N'', N'', N'', CAST(N'2016-06-15 21:20:05.450' AS DateTime), CAST(N'2016-06-15 21:20:05.450' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[TenantEntities] OFF
SET IDENTITY_INSERT [dbo].[UserEntities] ON 

INSERT [dbo].[UserEntities] ([UserId], [UserName], [Password], [TenantRefId], [FName], [LName], [EmailId], [Mobileno], [CreatedOn], [ModifiedOn], [ModifiedBy], [CreatedBy], [IsDeleted], [RoleRefId]) VALUES (3, N'admin', N'success', 4, N'Sachin', N'Kumar', N'admin@widevision.com', N'6565464656', CAST(N'2016-06-16 11:45:53.353' AS DateTime), CAST(N'2016-07-12 15:50:48.967' AS DateTime), 0, NULL, 0, 1)
INSERT [dbo].[UserEntities] ([UserId], [UserName], [Password], [TenantRefId], [FName], [LName], [EmailId], [Mobileno], [CreatedOn], [ModifiedOn], [ModifiedBy], [CreatedBy], [IsDeleted], [RoleRefId]) VALUES (4, N'johndevid', N'success', 4, N'John', N'Huck', N'noopur.trivedi@widevision.co.in', N'2434536456', CAST(N'2016-06-16 20:49:31.487' AS DateTime), CAST(N'2016-07-25 19:48:50.800' AS DateTime), 0, NULL, 0, 10)
INSERT [dbo].[UserEntities] ([UserId], [UserName], [Password], [TenantRefId], [FName], [LName], [EmailId], [Mobileno], [CreatedOn], [ModifiedOn], [ModifiedBy], [CreatedBy], [IsDeleted], [RoleRefId]) VALUES (5, N'johndevil', N'success', 4, N'john', N'Devil', N'john@widevision.com', N'24564845645', CAST(N'2016-06-16 20:49:31.487' AS DateTime), CAST(N'2016-07-01 16:09:15.910' AS DateTime), 0, NULL, 1, 10)
SET IDENTITY_INSERT [dbo].[UserEntities] OFF
SET IDENTITY_INSERT [dbo].[UserPermissionEntities] ON 

INSERT [dbo].[UserPermissionEntities] ([UserPermissionId], [All], [Add], [Edit], [Delete], [View], [Print], [IsDeleted], [CreatedOn], [ModifiedOn], [CreatedByRef], [ModifiedByRef], [UserRefId], [RoleRefId], [ModuleRefId], [TenantRefId]) VALUES (41, 1, 1, 1, 1, 1, 1, 0, CAST(N'2016-07-04 18:49:23.963' AS DateTime), CAST(N'2016-07-04 18:49:23.963' AS DateTime), 3, 3, NULL, 1, 3, 4)
INSERT [dbo].[UserPermissionEntities] ([UserPermissionId], [All], [Add], [Edit], [Delete], [View], [Print], [IsDeleted], [CreatedOn], [ModifiedOn], [CreatedByRef], [ModifiedByRef], [UserRefId], [RoleRefId], [ModuleRefId], [TenantRefId]) VALUES (42, 0, 0, 0, 0, 1, 0, 0, CAST(N'2016-07-04 18:49:23.967' AS DateTime), CAST(N'2016-07-04 18:49:23.967' AS DateTime), 3, 3, NULL, 1, 4, 4)
INSERT [dbo].[UserPermissionEntities] ([UserPermissionId], [All], [Add], [Edit], [Delete], [View], [Print], [IsDeleted], [CreatedOn], [ModifiedOn], [CreatedByRef], [ModifiedByRef], [UserRefId], [RoleRefId], [ModuleRefId], [TenantRefId]) VALUES (43, 1, 1, 1, 1, 1, 1, 0, CAST(N'2016-07-12 15:57:52.493' AS DateTime), CAST(N'2016-07-12 15:57:52.493' AS DateTime), 3, 3, 3, 1, 3, 4)
SET IDENTITY_INSERT [dbo].[UserPermissionEntities] OFF
/****** Object:  Index [IX_AssignedtoRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_AssignedtoRefId] ON [dbo].[AppointmentEntities]
(
	[AssignedtoRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContactRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_ContactRefId] ON [dbo].[AppointmentEntities]
(
	[ContactRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreateByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_CreateByRef] ON [dbo].[AppointmentEntities]
(
	[CreateByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedByRef] ON [dbo].[AppointmentEntities]
(
	[ModifiedByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StateRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_StateRefId] ON [dbo].[AppointmentEntities]
(
	[StateRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TenantRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_TenantRefId] ON [dbo].[AppointmentEntities]
(
	[TenantRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TenantRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_TenantRefId] ON [dbo].[CategoryEntities]
(
	[TenantRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[ContactCategories]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContactId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_ContactId] ON [dbo].[ContactCategories]
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_CreatedByRef] ON [dbo].[ContactEntities]
(
	[CreatedByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedByRef] ON [dbo].[ContactEntities]
(
	[ModifiedByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StateRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_StateRefId] ON [dbo].[ContactEntities]
(
	[StateRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TenantRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_TenantRefId] ON [dbo].[ContactEntities]
(
	[TenantRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserEntity_UserId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_UserEntity_UserId] ON [dbo].[ContactEntities]
(
	[UserEntity_UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_CreatedByRef] ON [dbo].[ModuleEntities]
(
	[CreatedByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TenantRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_TenantRefId] ON [dbo].[ModuleEntities]
(
	[TenantRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContactRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_ContactRefId] ON [dbo].[NoteEntities]
(
	[ContactRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreateByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_CreateByRef] ON [dbo].[NoteEntities]
(
	[CreateByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedByRef] ON [dbo].[NoteEntities]
(
	[ModifiedByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TenantRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_TenantRefId] ON [dbo].[NoteEntities]
(
	[TenantRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreateByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_CreateByRef] ON [dbo].[PriorityEntities]
(
	[CreateByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedByRef] ON [dbo].[PriorityEntities]
(
	[ModifiedByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TenantRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_TenantRefId] ON [dbo].[PriorityEntities]
(
	[TenantRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TenantRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_TenantRefId] ON [dbo].[RoleEntities]
(
	[TenantRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignedtoRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_AssignedtoRefId] ON [dbo].[TaskEntities]
(
	[AssignedtoRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContactRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_ContactRefId] ON [dbo].[TaskEntities]
(
	[ContactRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreateByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_CreateByRef] ON [dbo].[TaskEntities]
(
	[CreateByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedByRef] ON [dbo].[TaskEntities]
(
	[ModifiedByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PriorityRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_PriorityRefId] ON [dbo].[TaskEntities]
(
	[PriorityRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskTypeRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_TaskTypeRefId] ON [dbo].[TaskEntities]
(
	[TaskTypeRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TenantRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_TenantRefId] ON [dbo].[TaskEntities]
(
	[TenantRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreateByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_CreateByRef] ON [dbo].[TaskTypeEntities]
(
	[CreateByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedByRef] ON [dbo].[TaskTypeEntities]
(
	[ModifiedByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TenantRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_TenantRefId] ON [dbo].[TaskTypeEntities]
(
	[TenantRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_RoleRefId] ON [dbo].[UserEntities]
(
	[RoleRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TenantRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_TenantRefId] ON [dbo].[UserEntities]
(
	[TenantRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_CreatedByRef] ON [dbo].[UserPermissionEntities]
(
	[CreatedByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedByRef]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedByRef] ON [dbo].[UserPermissionEntities]
(
	[ModifiedByRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModuleRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_ModuleRefId] ON [dbo].[UserPermissionEntities]
(
	[ModuleRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_RoleRefId] ON [dbo].[UserPermissionEntities]
(
	[RoleRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TenantRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_TenantRefId] ON [dbo].[UserPermissionEntities]
(
	[TenantRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRefId]    Script Date: 08-09-2016 18:14:47 ******/
CREATE NONCLUSTERED INDEX [IX_UserRefId] ON [dbo].[UserPermissionEntities]
(
	[UserRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppointmentEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppointmentEntities_dbo.ContactEntities_ContactRefId] FOREIGN KEY([ContactRefId])
REFERENCES [dbo].[ContactEntities] ([ContactId])
GO
ALTER TABLE [dbo].[AppointmentEntities] CHECK CONSTRAINT [FK_dbo.AppointmentEntities_dbo.ContactEntities_ContactRefId]
GO
ALTER TABLE [dbo].[AppointmentEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppointmentEntities_dbo.StateEntities_StateRefId] FOREIGN KEY([StateRefId])
REFERENCES [dbo].[StateEntities] ([StateId])
GO
ALTER TABLE [dbo].[AppointmentEntities] CHECK CONSTRAINT [FK_dbo.AppointmentEntities_dbo.StateEntities_StateRefId]
GO
ALTER TABLE [dbo].[AppointmentEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppointmentEntities_dbo.TenantEntities_TenantRefId] FOREIGN KEY([TenantRefId])
REFERENCES [dbo].[TenantEntities] ([TenantId])
GO
ALTER TABLE [dbo].[AppointmentEntities] CHECK CONSTRAINT [FK_dbo.AppointmentEntities_dbo.TenantEntities_TenantRefId]
GO
ALTER TABLE [dbo].[AppointmentEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppointmentEntities_dbo.UserEntities_AssignedtoRefId] FOREIGN KEY([AssignedtoRefId])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[AppointmentEntities] CHECK CONSTRAINT [FK_dbo.AppointmentEntities_dbo.UserEntities_AssignedtoRefId]
GO
ALTER TABLE [dbo].[AppointmentEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppointmentEntities_dbo.UserEntities_CreateByRef] FOREIGN KEY([CreateByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[AppointmentEntities] CHECK CONSTRAINT [FK_dbo.AppointmentEntities_dbo.UserEntities_CreateByRef]
GO
ALTER TABLE [dbo].[AppointmentEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppointmentEntities_dbo.UserEntities_ModifiedByRef] FOREIGN KEY([ModifiedByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[AppointmentEntities] CHECK CONSTRAINT [FK_dbo.AppointmentEntities_dbo.UserEntities_ModifiedByRef]
GO
ALTER TABLE [dbo].[CategoryEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryEntities_dbo.TenantEntities_TenantRefId] FOREIGN KEY([TenantRefId])
REFERENCES [dbo].[TenantEntities] ([TenantId])
GO
ALTER TABLE [dbo].[CategoryEntities] CHECK CONSTRAINT [FK_dbo.CategoryEntities_dbo.TenantEntities_TenantRefId]
GO
ALTER TABLE [dbo].[ContactCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContactCategories_dbo.CategoryEntities_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[CategoryEntities] ([CategoryId])
GO
ALTER TABLE [dbo].[ContactCategories] CHECK CONSTRAINT [FK_dbo.ContactCategories_dbo.CategoryEntities_CategoryId]
GO
ALTER TABLE [dbo].[ContactCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContactCategories_dbo.ContactEntities_ContactId] FOREIGN KEY([ContactId])
REFERENCES [dbo].[ContactEntities] ([ContactId])
GO
ALTER TABLE [dbo].[ContactCategories] CHECK CONSTRAINT [FK_dbo.ContactCategories_dbo.ContactEntities_ContactId]
GO
ALTER TABLE [dbo].[ContactEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContactEntities_dbo.StateEntities_StateRefId] FOREIGN KEY([StateRefId])
REFERENCES [dbo].[StateEntities] ([StateId])
GO
ALTER TABLE [dbo].[ContactEntities] CHECK CONSTRAINT [FK_dbo.ContactEntities_dbo.StateEntities_StateRefId]
GO
ALTER TABLE [dbo].[ContactEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContactEntities_dbo.TenantEntities_TenantRefId] FOREIGN KEY([TenantRefId])
REFERENCES [dbo].[TenantEntities] ([TenantId])
GO
ALTER TABLE [dbo].[ContactEntities] CHECK CONSTRAINT [FK_dbo.ContactEntities_dbo.TenantEntities_TenantRefId]
GO
ALTER TABLE [dbo].[ContactEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContactEntities_dbo.UserEntities_CreatedByRef] FOREIGN KEY([CreatedByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[ContactEntities] CHECK CONSTRAINT [FK_dbo.ContactEntities_dbo.UserEntities_CreatedByRef]
GO
ALTER TABLE [dbo].[ContactEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContactEntities_dbo.UserEntities_ModifiedByRef] FOREIGN KEY([ModifiedByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[ContactEntities] CHECK CONSTRAINT [FK_dbo.ContactEntities_dbo.UserEntities_ModifiedByRef]
GO
ALTER TABLE [dbo].[ContactEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContactEntities_dbo.UserEntities_UserEntity_UserId] FOREIGN KEY([UserEntity_UserId])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[ContactEntities] CHECK CONSTRAINT [FK_dbo.ContactEntities_dbo.UserEntities_UserEntity_UserId]
GO
ALTER TABLE [dbo].[ModuleEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ModuleEntities_dbo.TenantEntities_TenantRefId] FOREIGN KEY([TenantRefId])
REFERENCES [dbo].[TenantEntities] ([TenantId])
GO
ALTER TABLE [dbo].[ModuleEntities] CHECK CONSTRAINT [FK_dbo.ModuleEntities_dbo.TenantEntities_TenantRefId]
GO
ALTER TABLE [dbo].[ModuleEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ModuleEntities_dbo.UserEntities_CreatedByRef] FOREIGN KEY([CreatedByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[ModuleEntities] CHECK CONSTRAINT [FK_dbo.ModuleEntities_dbo.UserEntities_CreatedByRef]
GO
ALTER TABLE [dbo].[NoteEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NoteEntities_dbo.ContactEntities_ContactRefId] FOREIGN KEY([ContactRefId])
REFERENCES [dbo].[ContactEntities] ([ContactId])
GO
ALTER TABLE [dbo].[NoteEntities] CHECK CONSTRAINT [FK_dbo.NoteEntities_dbo.ContactEntities_ContactRefId]
GO
ALTER TABLE [dbo].[NoteEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NoteEntities_dbo.TenantEntities_TenantRefId] FOREIGN KEY([TenantRefId])
REFERENCES [dbo].[TenantEntities] ([TenantId])
GO
ALTER TABLE [dbo].[NoteEntities] CHECK CONSTRAINT [FK_dbo.NoteEntities_dbo.TenantEntities_TenantRefId]
GO
ALTER TABLE [dbo].[NoteEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NoteEntities_dbo.UserEntities_CreateByRef] FOREIGN KEY([CreateByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[NoteEntities] CHECK CONSTRAINT [FK_dbo.NoteEntities_dbo.UserEntities_CreateByRef]
GO
ALTER TABLE [dbo].[NoteEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NoteEntities_dbo.UserEntities_ModifiedByRef] FOREIGN KEY([ModifiedByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[NoteEntities] CHECK CONSTRAINT [FK_dbo.NoteEntities_dbo.UserEntities_ModifiedByRef]
GO
ALTER TABLE [dbo].[PriorityEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PriorityEntities_dbo.TenantEntities_TenantRefId] FOREIGN KEY([TenantRefId])
REFERENCES [dbo].[TenantEntities] ([TenantId])
GO
ALTER TABLE [dbo].[PriorityEntities] CHECK CONSTRAINT [FK_dbo.PriorityEntities_dbo.TenantEntities_TenantRefId]
GO
ALTER TABLE [dbo].[PriorityEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PriorityEntities_dbo.UserEntities_CreateByRef] FOREIGN KEY([CreateByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[PriorityEntities] CHECK CONSTRAINT [FK_dbo.PriorityEntities_dbo.UserEntities_CreateByRef]
GO
ALTER TABLE [dbo].[PriorityEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PriorityEntities_dbo.UserEntities_ModifiedByRef] FOREIGN KEY([ModifiedByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[PriorityEntities] CHECK CONSTRAINT [FK_dbo.PriorityEntities_dbo.UserEntities_ModifiedByRef]
GO
ALTER TABLE [dbo].[RoleEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleEntities_dbo.TenantEntities_TenantRefId] FOREIGN KEY([TenantRefId])
REFERENCES [dbo].[TenantEntities] ([TenantId])
GO
ALTER TABLE [dbo].[RoleEntities] CHECK CONSTRAINT [FK_dbo.RoleEntities_dbo.TenantEntities_TenantRefId]
GO
ALTER TABLE [dbo].[TaskEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskEntities_dbo.ContactEntities_ContactRefId] FOREIGN KEY([ContactRefId])
REFERENCES [dbo].[ContactEntities] ([ContactId])
GO
ALTER TABLE [dbo].[TaskEntities] CHECK CONSTRAINT [FK_dbo.TaskEntities_dbo.ContactEntities_ContactRefId]
GO
ALTER TABLE [dbo].[TaskEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskEntities_dbo.PriorityEntities_PriorityRefId] FOREIGN KEY([PriorityRefId])
REFERENCES [dbo].[PriorityEntities] ([PriorityId])
GO
ALTER TABLE [dbo].[TaskEntities] CHECK CONSTRAINT [FK_dbo.TaskEntities_dbo.PriorityEntities_PriorityRefId]
GO
ALTER TABLE [dbo].[TaskEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskEntities_dbo.TaskTypeEntities_TaskTypeRefId] FOREIGN KEY([TaskTypeRefId])
REFERENCES [dbo].[TaskTypeEntities] ([TaskTypeId])
GO
ALTER TABLE [dbo].[TaskEntities] CHECK CONSTRAINT [FK_dbo.TaskEntities_dbo.TaskTypeEntities_TaskTypeRefId]
GO
ALTER TABLE [dbo].[TaskEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskEntities_dbo.TenantEntities_TenantRefId] FOREIGN KEY([TenantRefId])
REFERENCES [dbo].[TenantEntities] ([TenantId])
GO
ALTER TABLE [dbo].[TaskEntities] CHECK CONSTRAINT [FK_dbo.TaskEntities_dbo.TenantEntities_TenantRefId]
GO
ALTER TABLE [dbo].[TaskEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskEntities_dbo.UserEntities_AssignedtoRefId] FOREIGN KEY([AssignedtoRefId])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[TaskEntities] CHECK CONSTRAINT [FK_dbo.TaskEntities_dbo.UserEntities_AssignedtoRefId]
GO
ALTER TABLE [dbo].[TaskEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskEntities_dbo.UserEntities_CreateByRef] FOREIGN KEY([CreateByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[TaskEntities] CHECK CONSTRAINT [FK_dbo.TaskEntities_dbo.UserEntities_CreateByRef]
GO
ALTER TABLE [dbo].[TaskEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskEntities_dbo.UserEntities_ModifiedByRef] FOREIGN KEY([ModifiedByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[TaskEntities] CHECK CONSTRAINT [FK_dbo.TaskEntities_dbo.UserEntities_ModifiedByRef]
GO
ALTER TABLE [dbo].[TaskTypeEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskTypeEntities_dbo.TenantEntities_TenantRefId] FOREIGN KEY([TenantRefId])
REFERENCES [dbo].[TenantEntities] ([TenantId])
GO
ALTER TABLE [dbo].[TaskTypeEntities] CHECK CONSTRAINT [FK_dbo.TaskTypeEntities_dbo.TenantEntities_TenantRefId]
GO
ALTER TABLE [dbo].[TaskTypeEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskTypeEntities_dbo.UserEntities_CreateByRef] FOREIGN KEY([CreateByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[TaskTypeEntities] CHECK CONSTRAINT [FK_dbo.TaskTypeEntities_dbo.UserEntities_CreateByRef]
GO
ALTER TABLE [dbo].[TaskTypeEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskTypeEntities_dbo.UserEntities_ModifiedByRef] FOREIGN KEY([ModifiedByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[TaskTypeEntities] CHECK CONSTRAINT [FK_dbo.TaskTypeEntities_dbo.UserEntities_ModifiedByRef]
GO
ALTER TABLE [dbo].[UserEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserEntities_dbo.RoleEntities_RoleRefId] FOREIGN KEY([RoleRefId])
REFERENCES [dbo].[RoleEntities] ([RoleId])
GO
ALTER TABLE [dbo].[UserEntities] CHECK CONSTRAINT [FK_dbo.UserEntities_dbo.RoleEntities_RoleRefId]
GO
ALTER TABLE [dbo].[UserEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserEntities_dbo.TenantEntities_TenantRefId] FOREIGN KEY([TenantRefId])
REFERENCES [dbo].[TenantEntities] ([TenantId])
GO
ALTER TABLE [dbo].[UserEntities] CHECK CONSTRAINT [FK_dbo.UserEntities_dbo.TenantEntities_TenantRefId]
GO
ALTER TABLE [dbo].[UserPermissionEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPermissionEntities_dbo.ModuleEntities_ModuleRefId] FOREIGN KEY([ModuleRefId])
REFERENCES [dbo].[ModuleEntities] ([ModuleId])
GO
ALTER TABLE [dbo].[UserPermissionEntities] CHECK CONSTRAINT [FK_dbo.UserPermissionEntities_dbo.ModuleEntities_ModuleRefId]
GO
ALTER TABLE [dbo].[UserPermissionEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPermissionEntities_dbo.RoleEntities_RoleRefId] FOREIGN KEY([RoleRefId])
REFERENCES [dbo].[RoleEntities] ([RoleId])
GO
ALTER TABLE [dbo].[UserPermissionEntities] CHECK CONSTRAINT [FK_dbo.UserPermissionEntities_dbo.RoleEntities_RoleRefId]
GO
ALTER TABLE [dbo].[UserPermissionEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPermissionEntities_dbo.TenantEntities_TenantRefId] FOREIGN KEY([TenantRefId])
REFERENCES [dbo].[TenantEntities] ([TenantId])
GO
ALTER TABLE [dbo].[UserPermissionEntities] CHECK CONSTRAINT [FK_dbo.UserPermissionEntities_dbo.TenantEntities_TenantRefId]
GO
ALTER TABLE [dbo].[UserPermissionEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPermissionEntities_dbo.UserEntities_CreatedByRef] FOREIGN KEY([CreatedByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[UserPermissionEntities] CHECK CONSTRAINT [FK_dbo.UserPermissionEntities_dbo.UserEntities_CreatedByRef]
GO
ALTER TABLE [dbo].[UserPermissionEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPermissionEntities_dbo.UserEntities_ModifiedByRef] FOREIGN KEY([ModifiedByRef])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[UserPermissionEntities] CHECK CONSTRAINT [FK_dbo.UserPermissionEntities_dbo.UserEntities_ModifiedByRef]
GO
ALTER TABLE [dbo].[UserPermissionEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPermissionEntities_dbo.UserEntities_UserRefId] FOREIGN KEY([UserRefId])
REFERENCES [dbo].[UserEntities] ([UserId])
GO
ALTER TABLE [dbo].[UserPermissionEntities] CHECK CONSTRAINT [FK_dbo.UserPermissionEntities_dbo.UserEntities_UserRefId]
GO
USE [master]
GO
